<template>
  <v-card :to="{ name: 'MovieDetail', params: { movieId: movie.id } }">
    <v-img class="blue--text align-end" :src="getImageSrc(movie)">
      <v-card-title class="headline">
        {{ movie.title }}
        <span v-if="movie.year" class="espacio-izquierda">
          ({{ movie.year }})
        </span>
      </v-card-title>
    </v-img>
  </v-card>
</template>

<script>
import { getImageSrcGenerator } from "./movie-utils.js";

export default {
  name: "MovieCard",
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  methods: {
    getImageSrc: getImageSrcGenerator(false)
  }
};
</script>

<style scoped>
.espacio-izquierda {
  margin-left: 6px;
}
</style>
