<template>
  <v-form>
    <v-layout justify-center>
      <v-card width="50%">
        <v-card-title>
          <v-text-field v-model="movie.title" label="Title"></v-text-field>
          <v-text-field
            type="number"
            max="2030"
            min="1900"
            v-model="movie.year"
            label="Year"
          ></v-text-field>
        </v-card-title>
        <v-card-text>
          <input type="file" ref="hiddenUploader" class="d-none" />
          <v-btn block text @click="uploadImage()">
            Seleccionar imagen
          </v-btn>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" @click="save()">
            Submit
          </v-btn>
          <v-btn color="warning" @click="remove()" v-if="movie.id">
            Remove
          </v-btn>
          <v-btn @click="back()">
            Back
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-form>
</template>

<script>
import MoviesRepository from "@/repositories/MoviesRepository.js";

export default {
  name: "MovieForm",
  data() {
    return {
      movie: {}
    };
  },
  async created() {
    if (this.$route.params.movieId) {
      this.movie = await MoviesRepository.getMovie(this.$route.params.movieId);
    } else {
      this.movie = {};
    }
  },
  methods: {
    async save() {
      try {
        const savedMovie = await MoviesRepository.saveMovie(this.movie);
        if (this.$refs.hiddenUploader.files[0]) {
          await MoviesRepository.saveImage(
            savedMovie.id,
            this.$refs.hiddenUploader.files[0]
          );
        }
        this.$router.replace({
          name: "MovieDetail",
          params: { movieId: savedMovie.id }
        });
      } catch (e) {
        // debería mejorarse
        alert(e);
      }
    },
    back() {
      this.$router.go(-1);
    },
    async remove() {
      await MoviesRepository.removeMovie(this.movie.id);
      this.$router.replace({ name: "MovieList" });
    },
    uploadImage() {
      this.$refs.hiddenUploader.click();
    }
  }
};
</script>
