<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <div class="float-right">
          <v-btn :to="{ name: 'MovieCreate' }" color="primary">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
        <h1>Lista de películas populares</h1>
      </v-col>
      <v-col cols="12" sm="6" lg="3" v-for="movie in movies" :key="movie.id">
        <movie-card :movie="movie"></movie-card>
      </v-col>
    </v-row>
    <v-pagination
      class="mt-5"
      v-model="currentPage"
      :length="500"
      total-visible="10"
    ></v-pagination>
  </v-container>
</template>

<script>
import MovieCard from "./MovieCard.vue";
import MoviesRepository from "@/repositories/MoviesRepository";

export default {
  name: "MovieList",
  components: { MovieCard },
  data() {
    return {
      movies: [],
      currentPage: 1
    };
  },
  watch: {
    currentPage() {
      this.fetchData();
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.movies = await MoviesRepository.getMovies(this.currentPage);
    }
  }
};
</script>
