<template>
  <v-container v-if="movie">
    <v-row>
      <h1>Movie Detail</h1>
      <v-spacer></v-spacer>
      <router-link
        :to="{ name: 'MovieDetail', params: { movieId: movie.id - 1 } }"
      >
        <v-btn>Previous</v-btn>
      </router-link>
      <router-link to="/movies"><v-btn>Back</v-btn></router-link>
      <router-link :to="{ name: 'MovieUpdate', params: { movieId: movie.id } }">
        <v-btn>Edit</v-btn>
      </router-link>
      <router-link
        :to="{ name: 'MovieDetail', params: { movieId: movie.id + 1 } }"
      >
        <v-btn>Next</v-btn>
      </router-link>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-img :src="getImageSrc(movie)"></v-img>
      </v-col>
      <v-col cols="12" sm="6">
        <v-row>
          <v-col cols="3"><span class="label">Title</span></v-col>
          <v-col cols="9">
            <span class="data">{{ movie.title }}</span>
          </v-col>

          <v-col cols="3"><span class="label">Year</span></v-col>
          <v-col cols="9">
            <span class="data">{{ movie.year }}</span>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { getImageSrcGenerator } from "./movie-utils.js";
import MoviesRepository from "@/repositories/MoviesRepository";

export default {
  name: "MovieDetail",
  data() {
    return {
      movie: null,
      credits: null
    };
  },
  beforeRouteUpdate(to, from, next) {
    this.fetchData(to.params.movieId);
    next();
  },
  created() {
    this.fetchData(this.$route.params.movieId);
  },
  methods: {
    async fetchData(movieId) {
      this.movie = await MoviesRepository.getMovie(movieId);

      if (!this.movie) {
        alert("Movie not found!");
        this.$router.go(-1);
      }
    },
    getImageSrc: getImageSrcGenerator(true)
  }
};
</script>

<style scoped>
.label {
  font-weight: bold;
}
</style>
