<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title class="title">
        <router-link to="/" tag="span">Movies Example!</router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn to="/about" text>About</v-btn>
        <v-btn to="/movies" text>Movies</v-btn>
        <v-btn v-if="!user.logged" to="/login" text>Login</v-btn>
        <v-btn v-else @click="logout()" text>Logout</v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import store from "@/common/store";
import auth from "@/common/auth";

export default {
  name: "App",
  data() {
    return {
      user: store.state.user
    };
  },
  methods: {
    logout() {
      auth.logout();
      this.$router.push({ name: "Login" });
    }
  }
};
</script>

<style scoped>
.title {
  cursor: pointer;
}
</style>
